#top-container{
    -fx-background-color: #8E0000;/*#8E0000*/
}

.background {
    -fx-background-color:  #1dacd6;
}

.label {
   -fx-text-fill: #000099;
}

.root
{
    -fx-background-color: #fbffd1;
}

.button {
   -fx-text-fill: #000099;
}