#top-container{
    -fx-background-color: #add8e6;/*#8E0000*/
     background-image: url(ui/library.jpg);
}

.background {

    background-image: url(ui/library.jpg);
    
     
}

.label {
   -fx-text-fill: #000099;
}

.root
{
    -fx-background-color: #fbffd1;
}

.button {
   -fx-text-fill: #000099;
}